/*This CSS file describes the formatting and positioning of the navBar*/
/*Universal display settings for ALL NavBar features*/
.nextensio__navbar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    z-index: 2100;

    padding: 1.25rem 4rem;
}

/*Universal display settings for the logo placment*/
.nextensio__navbar-links_logo{
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;
}

/*Logo size adjustments*/
.nextensio__navbar-links_logo img{
    width: 200px;
    height: 44px;
}

/*Display spacing for the links-contatiner*/
.nextensio__navbar-links_spacing {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Individual spacing settings for each link container*/
.nextensio__navbar-links_spacing a {
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 500;
}

/*Universal display settings for the NavBar link placments*/
.nextensio__navbar-links_container {
    display: flex;
    flex-direction: row;
}

/*Display settings for Contact Us*/
.nextensio__navbar-contact {
    display: flex;
    flex-direction: row;
}

/*Display settings/customizations for the Login ICON*/
.nextensio__navbar-contact svg {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0.75rem;

    color:#999999;
}

/*Hover color-change animation for button*/
.nextensio__navbar-links_container a:hover, /*Full-screen Menu buttons*/
.nextensio__navbar-contact svg:hover, /*Login Icon*/
.nextensio__navbar-menu svg:hover, /*3-Dash Icon*/
.nextensio__navbar-menu_container button:hover, /*Side Menu-bar buttons*/
.nextensio__navbar-menu_container svg:hover /*Side Menu-bar icons*/
{
    color: var(--color-text);
}

/*Menu bar TEXT customizations*/
.nextensio__navbar-links_container p,
.nextensio__navbar-contact p,
.nextensio__navbar-menu_container p {
    color: var(--color-subtext);
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 25px;

    cursor: pointer;
}

/*NavBar Button customizations*/
.nextensio__navbar-contact button,
.nextensio__navbar-menu_container button{
    /*Box fillet + spacing inside of the button*/
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    border: 0;
    outline: none;

    background: var(--gradient-text);
    font-family: var(--font-family);
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.04em;

    cursor: pointer;
}

/*Hover transform animation for button*/
.nextensio__navbar-contact button:hover {
    transform: scale(0.99);
    transition-duration: 0.1s;
}

/*Display settings for the menu-bar to have a dimmed background*/
.nextensio__navbar-menu_container-dimmed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: rgba(0,0,0,0.80);
    backdrop-filter: blur(5px);
    z-index: 20;
}

/*MENU icon display settings*/
.nextensio__navbar-menu {
    display: none;
    margin-left: 1rem;
    position: relative;
}

/*MENU icon display settings*/
.nextensio__navbar-menu svg {
    cursor: pointer;
    color: #999999;
}

/*Popup MENU => skeleton layout*/
.nextensio__navbar-menu_container {
    /*display settings*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10000;

    /*customizations*/
    background: rgb(255, 255, 255);
    /* [Top, Right, Bottom, Left] */
    padding: 28px 24px 0px 24px;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
}

/*Display settings for Exit ICON*/
.nextensio__navbar-menu_container-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0rem;
    margin-bottom: 1rem;
}

/*Display settings for the menu container CLOSE icon*/
.nextensio__navbar-menu_container-icons svg {
    cursor: pointer;
    margin-left: 16.5rem;
    color: gray;
}

/*Display settings for container-links (TEXT + ARROW)*/
.nextensio__navbar-menu_container-links a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/*Display customizations for the menu-bar ARROW icon*/
.nextensio__navbar-menu_container-links svg {
    color:rgb(209, 85, 213);
}

/*Popup MENU display settings*/
.nextensio__navbar-menu_container button {
    display: flex;
    flex-direction: row;

    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    padding: 1rem 0rem;
    width: 272px;
    border: 1px solid #ffffff;
    outline: none;
    background:transparent;
    color: var(--color-subtext);
}

/*Gradient bar customizations*/
.nextensio__navbar-menu_gradient-bar {
    justify-content: center;
    width: 100%;
    height: 2px;
    margin: 1rem 0rem 1rem 0rem;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    background: var(--gradient-bar);
}

/*Display settings for Sign-In/Contact links (TEXT + ARROW)*/
.nextensio__navbar-menu_container-links-contact a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*Customizations for Sign-In ICON*/
.nextensio__navbar-menu_container-links-contact svg {
    color: var(--color-subtext);
}

/*Customizations for Sign-In TEXT*/
.nextensio__navbar-menu_container-links-contact button {
    margin-left: 5px;
    width: 242px;
    font-size: 20px;
}

/*Popup MENU display settings*/
.nextensio__navbar-menu_container-links-contact {
    display: none;
}

/*Widescreen formatting*/
@media screen and (min-width: 1520px){
    .nextensio__navbar {
        padding: 1.25rem 18rem;
    }
}

/*Computer formatting*/
@media screen and (max-width: 1050px){
    .nextensio__navbar-links_container {
        display: none;
    }

    .nextensio__navbar-menu {
        display: flex;
    }

    .nextensio__navbar-menu_container-dimmed {
        display: block;
    }
}

/*Tablet formatting*/
@media screen and (max-width: 800px){
    .nextensio__navbar {
        padding: 2rem 3rem;
    }
}

/*Mobile formatting*/
@media screen and (max-width: 550px){
    .nextensio__navbar {
        padding: 2rem;
    }

    .nextensio__navbar-contact {
        display: none;
    }

    .nextensio__navbar-menu_container {
        top: 20px;

    }
    
    .nextensio__navbar-menu_container-links-contact {
        display: block;
    }

}