/*Universal display settings for the possibility container*/
.nextensio__possibility {
    padding: 4rem 6rem;
}

/*Display setings for container w/text on the rightside*/
.nextensio__possibility_rightText {
    display: flex;
    flex-direction: row;
    margin-bottom: 8rem;
}

/*Display setings for last container*/
.nextensio__possibility_rightText:last-child {
    margin-bottom: unset;
}

/*Display setings for container w/text on the leftside*/
.nextensio__possibility_leftText {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 8rem;
}

/*Display settings for the image*/
.nextensio__possibility-image {
    flex: 0.8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*Customizations for image size*/
.nextensio__possibility-image img{
    width: 90%;
}

/*Display settings for text content container*/
.nextensio__possibility-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/*Customizations for h4 text*/
.nextensio__possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: var(--color-text);
    cursor: pointer;
}

/*Display settings for bulletpoints*/
.nextensio__possibility-list {
    width:100%;
    flex-direction: column;
    margin-bottom: 3rem;
}

/*Hover animation for linked text*/
.nextensio__possibility-content h4:hover {
    font-weight: 600;
    text-decoration: underline;
}

/*Tablet*/
@media screen and (max-width: 950px) {
    .nextensio__possibility {
        flex-direction: row;
        padding: 4rem 2rem;
    }

    .nextensio__possibility-content h4{
        margin-top: 1rem;

        font-size: 18px;
        line-height: 30px;
    }

    .nextensio__possibility_leftText,
    .nextensio__possibility_rightText{
        margin-bottom: 4rem;
    }

    .nextensio__possibility-image {
        justify-content: center;
    }

    .nextensio__possibility-image img {
        width: 85%;
    }

    .nextensio__possibility-list {
        margin-bottom: unset;
    }
}

/*Widescreen formatting*/
@media screen and (min-width: 1520px){
    .nextensio__possibility {
        padding: 4rem 20rem 4rem 20rem;
    }

    .nextensio__possibility-content h4{
        font-size: 26px;
        line-height: 40px;
        
        width: fit-content;
    }
}

/*Tablet formatting #2*/
@media screen and (max-width: 700px) {
    .nextensio__possibility_leftText,
    .nextensio__possibility_rightText{
        flex-direction: column;
        justify-content: center;
    }

    .nextensio__possibility-image img {
        width:70%;
    }
}

/*Mobile formatting*/
@media screen and (max-width: 490px) {
    .nextensio__possibility {
        padding: 1rem 2rem;
    }

    .nextensio__possibility-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .nextensio__possibility-image img {
        width:75%;
    }

    .nextensio__possibility-content h4{
        font-size: 14px;
        line-height: 26px;

        margin-top: 0.75rem;
    }

    .nextensio__possibility-list {
        margin-top: unset;
    }
}