@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
  /*Universal font and color settings for the entire website*/
  --font-family: 'Quicksand', sans-serif;

  /*Gradients*/
  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  /*Palette Colors*/
  --color-primary: red;
  --color-secondary: rgb(129, 175, 221);
  --color-tertiary: rgb(209, 85, 213);
  --color-icon: #999999;
  
  /*Header + Footer*/
  --color-ribbon: white;
  --color-footer-text: black;
}

#dark {
  /*Palette Colors*/
  --color-primary: rgba(255, 255, 255, 0.85);
  --color-secondary: rgba(129, 175, 221, 0.90);
  --color-tertiary: rgba(255, 150, 255, 0.85);
  --color-icon: #BFBFBF;

  /*Header + Footer*/
  --color-ribbon: #212121;
  --color-footer-text: #BFBFBF;
}